<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.system.rongyunlib" >

        <application>
            <activity
                android:name=".ui.ConversationListActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize">

                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.intent.category.DEFAULT" />

                    <data
                        android:host="${RY_APPID}"
                        android:pathPrefix="/conversationlist"
                        android:scheme="rong" />
                </intent-filter>
            </activity>
            <!--聚合会话列表-->
            <activity
                android:name=".ui.SubConversationListActivtiy"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize">

                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.intent.category.DEFAULT" />

                    <data
                        android:host="${RY_APPID}"
                        android:pathPrefix="/subconversationlist"
                        android:scheme="rong" />
                </intent-filter>
            </activity>
            <!--会话界面-->


    </application>
</manifest>
